@import url(https://fonts.googleapis.com/css?family=Roboto:700,400);

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/**** Sprite ****/
.sprite {
  background-image: url(images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow {
  width: 17px;
  height: 17px;
  background-position: -6px -6px;
}

.sprite-clock {
  width: 30px;
  height: 29px;
  background-position: -6px -35px;
}

.sprite-deselect {
  width: 17px;
  height: 23px;
  background-position: -6px -76px;
}

.sprite-envelope {
  width: 30px;
  height: 28px;
  background-position: -6px -111px;
}

.sprite-reorder {
  width: 16px;
  height: 30px;
  background-position: -6px -152px;
}

.sprite-selected {
  width: 17px;
  height: 23px;
  background-position: -6px -194px;
}

.sprite-sheet {
  width: 22px;
  height: 28px;
  background-position: -6px -229px;
}

.sprite-trash {
  width: 18px;
  height: 22px;
  background-position: -6px -270px;
}

/**** End sprite ****/


.btn-green {
  width: 255px;
  height: 45px;
  background-color: #33CC33;
  border-color: #33CC33;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  border-radius: 1px;
}

ul.documents-list {
  min-height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
  clear: both;
}

ul.documents-list li.document-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #808184;
  padding-right: 0;
  padding-left: 0;
  height: 55px;
}

ul.documents-list li.document-item .dropdown .glyphicon{
  margin-left: 14px;
}

ul.documents-list li.document-item a {
  padding-right: 0;
}

ul.documents-list li.document-item .col-md-1 {
  width: 16px;
}

ul.documents-list li.document-item .col-md-4 {
  padding-left: 2px;
}

ul.documents-list li.document-item:last-child {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: gray;
}

.outbox ul{
  list-style: none;
  padding: 0;
  clear: both;
}

.outbox span {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.outbox .panel-default {
  border-radius: 0px;
  border: none;
}

.container {
  width: 980px;
}

.panel-heading {
  height: 55px;
}

.panel-body {
  padding: 16px;
}

.postponed-row {
  padding-top: 5px;
}

.envelope-header {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-top: 5px;
}

.envelope-modal .sprite-envelope,
.postponed-row .first-col .sprite-clock,
.envelope-header .first-col .sprite-envelope {
  float: left;
  margin-right: 14px;
}

.postponed-row .middle-col .sprite-sheet,
.envelope-header .middle-col .sprite-sheet {
  float: right;
  margin-left: 14px;
}

.destination-header div.panel-heading {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f7f7f7;
  border-top-color: #808185;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #808185;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0;
  padding-top: 7px;
}

.envelope-modal .modal-body .col-md-4.middle-col span,
.destination-header .first-col.panel-title .collapsible-link {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.envelope-modal .modal-body .col-md-4.middle-col label,
.destination-header .first-col span.email {
  color: #989898;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.destination-header .glyphicon {
  text-align: right;
  padding-top: 10px;
}

.destination-header .collapsed .glyphicon-triangle-left,
.destination-header  .glyphicon-triangle-bottom {
  display: block;
}

.destination-header  .glyphicon-triangle-left,
.destination-header .collapsed .glyphicon-triangle-bottom {
  display: none;
}

.destination-header .arrow-col a {
  color: black;
}

.destination-header .arrow-col a:focus,
.destination-header .arrow-col a:hover {
  text-decoration: none;
}

.postponed-row .middle-col,
.envelope-header .middle-col,
.destination-header .middle-col {
  text-align: center;
}

.envelope-header .last-col,
.destination-header .last-col {
  text-align: center;
}

.postponed-row .btn-link,
.envelope-modal .btn-link,
.envelope-header .btn-link,
.destination-header .btn-link {
  color: black;
}

.envelope-header button.btn-link .caret,
.destination-header button.btn-link .caret {
  margin-left: 14px;
}

.envelope-modal {
  width: 1024px;
  border-radius: 0;
}

.envelope-modal .modal-header {
  min-height: 15px;
  padding: 10px;
  background-color: #f7f7f7;
  text-align: left;
  height: 50px;
}

.envelope-modal .modal-header button {
  padding-top: 5px;
}

.envelope-modal .modal-header .close,
.envelope-modal .modal-header h4.modal-title {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.envelope-modal .modal-body {
  padding-top: 28px;
  padding-left: 22px;
  padding-right: 22px;
  min-height: 500px;
}

.envelope-modal .modal-body .sprite {
  float: left;
  margin-right: 10px;
}

.envelope-modal .modal-body button.btn-link {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

.envelope-modal .modal-body h3 {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

.envelope-modal .modal-body .options-container .col-md-3 {
  padding-left: 0;
}

.envelope-modal .form-group {
  margin: 0 0 10px 0;
}

.envelope-modal .form-group ::-webkit-input-placeholder,
.envelope-modal .form-group :-moz-placeholder,
.envelope-modal .form-group ::-moz-placeholder,
.envelope-modal .form-group :-ms-input-placeholder
{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #999999;
}

.envelope-modal .search-form span {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #999999;
  float: right;
}

.envelope-modal .modal-body .sprite-clock {
  margin-top: -5px;
}

.envelope-modal .search-form .col-md-3 {
  margin-top: 40px;
}

.envelope-modal .search-form .col-md-offset-1.col-md-4{
  padding-left: 40px;
}

.envelope-modal .form-group label {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #999999;
  margin: 0;
}

.envelope-modal .modal-body input {
  border-radius: 0;
  border-left: none;
  border-top: none;
  border-right: none;
  border-top-width: 0;
  box-shadow: none;
}

.search-form label {
  font-weight: 300;
  font-size: 12px;
}

.container .tab-content {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.title-container {
  padding-bottom: 30px;
}

.title-container h3 {
  margin-top: 0;
  font-size: 24px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.blue-text {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #0098ff !important;
}

.sent .envelope-header .col-md-3:not(.middle-col):not(.header) {
  padding-top: 10px;
}

.sent .envelope-header .col-md-3.clock-col {
  padding-top: 5px;
}

.buttons-row {
  padding-top: 20px;
  padding-bottom: 5px;
}

li.selected-item {
  background-color: #FFFFB2;
}

span.duration {
  color: blue;
  margin-left: 5px;
}

.editable-click {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}
